@model IEnumerable<Auto.Models.Order>
@using Auto.Data

@{
    ViewData["Title"] = "Заказы";
}

<h1>Заказы</h1>

<p>
    <a asp-action="Create" class="btn btn-primary" >Добавить заказ</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @if (item.Status != OrderStatus.ЗаказВыполнен)
                    {
                        <form asp-action="MarkAsArrived" method="post">
                            <input type="hidden" name="orderId" value="@item.OrderId" />
                            <button type="submit" class="btn btn-primary">Отметить прибытие</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>