@model IEnumerable<Auto.Models.Part>

@{
    ViewData["Title"] = $"Запчасти для модели: {ViewBag.CarModelName}";
    string currentSort = ViewBag.CurrentSort as string;
    string nameSortParam = string.IsNullOrEmpty(currentSort) ? "name_desc" : "";
    string quantitySortParam = currentSort == "quantity" ? "quantity_desc" : "quantity";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" asp-route-carModelId="@ViewBag.CarModelId" class="btn btn-primary">Добавить запчасть</a>
</p>

<form asp-action="Index" method="get" class="form-inline mb-3">
    <input type="hidden" name="carModelId" value="@ViewBag.CarModelId" />
    <input type="text" name="searchString" class="form-control mr-2" placeholder="Поиск запчасти" value="@ViewBag.CurrentFilter" />
    <p></p>
    <button type="submit" class="btn btn-primary">Поиск</button>
    <a asp-action="Index" asp-route-carModelId="@ViewBag.CarModelId" class="btn btn-secondary ml-2">Очистить поиск</a>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@nameSortParam" asp-route-carModelId="@ViewBag.CarModelId" asp-route-searchString="@ViewBag.CurrentFilter">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@quantitySortParam" asp-route-carModelId="@ViewBag.CarModelId" asp-route-searchString="@ViewBag.CurrentFilter">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Quantity)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                <td>
                    @if (item.Quantity > 0)
                    {
                        <form asp-action="UsePart" method="post">
                            <input type="hidden" name="id" value="@item.PartId" />
                            <button type="submit" class="btn btn-primary">Отметить использование запчасти</button>
                        </form>
                    }
                    else
                    {
                        <button class="btn btn-secondary" disabled>Нет в наличии</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Index" asp-controller="CarModels" asp-route-brandId="@ViewBag.BrandId" class="btn btn-secondary">Назад</a>
</p>