@model Auto.Models.CarModel

@{
    ViewData["Title"] = "Удаление модели автомобиля";
}

<h1>Удалить</h1>

<h3>Вы уверены, что хотите удалить эту модель автомобиля?</h3>
<div>
    <h4>Модель автомобиля</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand.Name)
        </dd>
        <dt class="col-sm-2">
            Логотип
        </dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.LogoPath))
            {
                <img src="@Model.LogoPath" alt="Логотип" width="200" />
            }
        </dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="CarModelId" />
        <input type="hidden" name="brandId" value="@ViewBag.BrandId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-brandId="@ViewBag.BrandId">Вернуться к списку</a>
    </form>
</div>
