@model IEnumerable<Auto.Models.CarModel>

@{
    ViewData["Title"] = $"Модели машины: {ViewBag.BrandName}";
}

<h1>Модели машины: @ViewBag.BrandName</h1>

<p>
    <a asp-action="Create" asp-route-brandId="@ViewBag.BrandId">Добавить новую модель</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                Марка
            </th>
            <th>
                Логотип
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand.Name)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.LogoPath))
                    {
                        <img src="@item.LogoPath" alt="Логотип" width="100" />
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CarModelId" asp-route-brandId="@ViewBag.BrandId">Редактировать</a> |
                    <a asp-action="Delete" asp-route-id="@item.CarModelId" asp-route-brandId="@ViewBag.BrandId">Удалить</a> |
                    <a asp-action="Index" asp-controller="Parts" asp-route-carModelId="@item.CarModelId">Запчасти</a>
                </td>
            </tr>
        }
    </tbody>
</table>
